body{
	background-color: white;
}
table{
	width: 100%;
	border: 1px solid gray;
	border-collapse: collapse;
	caption-side: top;
}
td,th{
	border: 1px solid gray;
}
/*fondo para las filas imapares*/
table tr:nth-child(odd){
	background-color: white;
}
/*fondo para las filas pares*/
table tr:nth-child(even){
	background-color: lightblue;
}
table  tr th{
	background-color: #1a5276 ;
	color: white;
}
table tr:hover{
	background-color: #2980b9 ;
	color: white;

}
